body {
    padding-top: 50px;
}

.my-principal {
    padding: 40px 15px;
    text-align: center;
}

.my-container {
    width: 100% !important;
}

.my-btn-inline {
    display: inline;
}

textarea {
    resize: none;
}
